name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend
        working-directory: smart-body-posture-detection
        run: npm install

      - name: Build frontend
        working-directory: smart-body-posture-detection
        run: npm run build || echo "No build script found"

      # ----- BACKEND -----
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"